matlab/LowLatency/*.asv
matlab/HighLatency/*.asv
modelsim/work/
modelsim/transcript
modelsim/modelsim.ini
modelsim/vsim.wlf
matlab/LowLatency/*.dat
modelsim/*.dat
Quartus/
modelsim/libraries/
RTL/*/*.bak
IP/*/synth/*.qicache